<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","id":"main-content","className":"qw-main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|11","bottom":"var:preset|spacing|11","left":"var:preset|spacing|8","right":"var:preset|spacing|8"}}}} -->
<main id="main-content" class="wp-block-group qw-main">

	<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|9"}}}} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
